
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.imgMain{
    background-image: url("./src/assets/img/bgMain.jpg");
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    
    width: 100%;  
    /* height: 500px;   */
     position: relative;
    min-height: 100vh;

}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #0000007a;
    width: 100vw;
    height: 100%;
    z-index: -1;
}
.suggBox{
    width: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.suggBox .boxImg{
    min-width: 220px;
    min-height: 324px;
}
.suggBox:hover{
    box-shadow: inset rgb(41 166 130) -20px -20px 20px 20px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s;
}
.box{
    width: 165px;
    position: relative;
    display: flex;
        justify-content: center;
        align-items: center;
    
}
.box:hover .btnCss{
    display: block;
        z-index: 11;
        position: absolute;
        top: 25px;
        height: 35px;
         width: 121%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        padding: 15px;
}
.suggBox:hover .btnCss{
    display: block;
        z-index: 11;
        position: absolute;
        top: 25px;
        height: 35px;
         width: 121%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        padding: 15px;
}
.box .boxImg{
    min-width: 182px;
    min-height: 230px;
}
.box:hover{
    box-shadow: inset rgb(41 166 130) -20px -20px 20px 20px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s;
}
.suggBox:hover{
    box-shadow: inset rgb(41 166 130) -20px -20px 20px 20px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.players{
    width: 100%;
    min-height: 300px;
    padding: 2rem;
    border: 2px solid #29a682;
    border-radius: 11px;
    
}
.playersBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 5rem;
}
.boxStats{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 2px;
    left: 0;
    bottom: 0;
}
.spanBox{
    gap: 5px;
    font-weight: 600;
    color: #372602;
}
.positionCss{
    width: 70px;
    height: 34px;
    position: absolute;
    bottom: 7px;
    background-color: #333333;
    display: flex
;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: white;
}

.btnU{
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
 
}


.updatePlayer{
     background-color: #0000008a;

    color: rgb(0 51 36);
    background-color: #dcb45c82;
    font-size: 25px;
}
.deletePlayer{
     background-color: #0000008a;
    color: #d10000;
    background-color: #dcb45c82;
    font-size: 25px;
}

@media (max-width: 768px) {
   
    .boxImg{
        min-width: 143px !important;
        min-height: 100px !important;
    }
    .box{
        max-width: 165px;
    }
    .box.ST1 .boxStats .flex:nth-child(2) img {
        width: 97px;
      }
      .iconNoPlayer{
        width: 97px !important;
      }
 }
 @media screen {
    
 }

 @media (max-width: 768px) {
 .containers{
    background: rgb(39 44 48 / 91%);
     box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px;

}
}

   
    
